---
import Button from "../../../components/button.astro";
import Espec from "../../../components/espec.astro";
import ListOfImage from "../../../components/listOfImage.astro";
import Section from "../../../components/section.astro";
import Title from "../../../components/title.astro";
import Layout from "../../../layouts/Layout.astro";

import { defaultSlider } from "../../../utils/slider";

import { getProduct } from "../../../services/getProduct";
const { globoId } = Astro.params;
console.log(globoId);
if (!globoId) return null;
const arrayUrl = globoId.split("/");
const id = arrayUrl[arrayUrl.length - 1];
console.log(id);

const data = await getProduct(id);
console.log(data);
---

<Layout title={data.content.name}>
  <Section title="globo unique">
    <Title color="bg-[#ca2279]" fontColor="text-white">
      {data.content.name}
    </Title>
    <div class="md:flex md:gap-x-28 mt-20 px-10 md:px-20">
      <div class="md:w-2/4">
        <img
          class="h-[390px] w-full rounded-[80px] object-cover border-black border"
          src={data.content.imagen[0]?.secure_url}
          alt={data.content.name}
        />
        <!-- <Carrusel slider={images} /> -->
      </div>

      <div class="md:w-2/4 flex justify-center">
        <header class="w-96 h-auto flex flex-col gap-y-16">
          <p class="font-lobster text-[#636B78] text-xl pt-5 pb-4">
            {data.content.description}
          </p>

          <div
            class="rounded-3xl bg-[#B2A9AB] py-2 px-6 text-[#403A3C] text-xl font-lobster"
          >
            Características Del Producto / Servicio
          </div>

          <div class="ml-52">
            <Button />
          </div>
        </header>
      </div>
    </div>
    <div class="pl-14 mt-20">
      <h2 class="text-[#0E877D] font-lobster text-5xl px-10 mb-[10px]">
        Productos Relacionados
      </h2>
      <ListOfImage images={defaultSlider} />
    </div>
    <Espec />
  </Section>
</Layout>
