---
import Espec from "../../components/espec.astro";
import Hero from "../../components/hero.astro";
import Listofcards from "../../components/listofcards.astro";
import TitleOfertas from "../../components/titleOfertas.astro";

import { getSection } from "../../services/getSection";
import { homeUrls } from "../../services/urls";

interface Props {
  title: string;
}
const { title } = Astro.props;

const data = await getSection(homeUrls.ofertas);
---

<section
  id={title}
  class=`box-content px-5 my-10 mx-auto max-w-5xl md:py-10 lg:max-w-6xl xl:max-w-7xl`
>

  <TitleOfertas name={title}/>

    <Hero
    title={data.content[0].name}
    description={data.content[0].description}
    images={data.content[0].imagen.secure_url}
  />
  <Listofcards data={data} colorFont="text-[#D9176A]"/>
  <Espec />

</section>

