---
import Section from "../../../components/section.astro";
import Layout from "../../../layouts/Layout.astro";
import { getGlobos } from "../../../services/getGlobos";

const GLOBOS = {
  COMPLEMENTOS: {
    centrodemesa: "65dfd9507b09110901ae1ee0",
    contrapeso: "65dfd9f17b09110901ae1ee4",
    decorativos: "65dfddce7b09110901ae1eec",
  },
};

const { id } = Astro.params;

const urlId = (id: string) => {
  if (GLOBOS.COMPLEMENTOS[id]) return GLOBOS.COMPLEMENTOS[id];
};
const url = urlId(id!);
const data = await getGlobos(url);
---

<Layout title={data.content[0].__t}>

  <Section title="Globos" class="" >
    <div class="w-full max-w-[1400px]
    grid lg:grid-cols-3 auto-rows-[23rem] gap-4
    mx-auto p-6 ">
    {
      !data ? (
        <p>No hay productos Relacionados</p>
      ) : (
        data.content.map((item) => {
          return (
            <div class="flex flex-col w-auto">
              <article class="card mr-0 md:mr-10">
                <a href=`/globos/complementos/${id}/${item._id}/` >
                  {item.imagen && item.imagen[0] && (
                <img
                  class="card-image"
                  src={item.imagen[0].secure_url}
                  alt={item.name}
                />
                )}
                </a>
              </article>
              <p class="card-name">{item.name}</p>
            </div>  
          );
        })
      )
    }
    </div>
  </Section>
</Layout>

<style>
  .card {
    width: 350px;
    height: 280px;
    border-radius: 80px;
    overflow: hidden;
    margin-bottom: 20px;
    border-style: black;
    border-width: 2px;
  }

  .card-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden ;
  }
  .card-name {
    text-align: center;
    font-family: "Lobster Two", system-ui;
    font-size: 18px;
    color: #636b78;
  }
</style>
../../../fetch/getGlobos
